<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div class="mt-2">
        <h2>ﾏｲﾍﾟｰｼﾞ</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <div class="my-3">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>ユーザーID</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>年齢</th>
              <td><%= @user.age %></td>
            </tr>
            <tr>
              <th>居住地</th>
              <td><%= @user.address %></td>
            </tr>
            <tr>
              <th>フォロー数</th>
              <td><%= @user.followings.count %></td>
            </tr>
            <tr>
              <th>フォロワー数</th>
              <td><%= @user.followers.count %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% if @user.id == current_user.id %>
    <div class="row">
      <div class="mx-auto">
        <p><%= link_to "編集", edit_user_path(@user), class: "btn btn-success" %></p>
      </div>
    </div>
  <% end %>
</div>