<div class="container">
  <div class="row">
    <div class="mt-2">
      <h2>ﾏｲﾍﾟｰｼﾞ</h2>
    </div>
  </div>
  <div class="row">
    <div class="d-flex mx-auto">
      <div class="text-center" style="width: 500px">
        <p><%= attachment_image_tag @user, :profile_image, width: '50%', height: '50%', fallback: "no_image.jpeg" %></p>
      </div>
      <diV class="row">
        <diV class="text-left" style="width: 500px">
          <div class="my-5">
            <p>ユーザーID: <%= @user.name %></p>
            <p>年齢: <%= @user.age %></p>
            <p>居住地: <%= @user.address %></p>
            <p>フォロー数： <%= @user.followings.count %></p>
            <p>フォロワー数: <%= @user.followers.count %></p>
          </div>
        </diV>
      </div>
    </div>
  </div>
  <% if @user.id == current_user.id %>
    <div class="row">
      <div class="mx-auto">
        <p><%= link_to "編集", edit_user_path(@user), class: "btn btn-success" %></p>
      </div>
    </div>
  <% end %>
</div>