<header>
    <nav class="navbar navbar-dark" style="background-color:#87CEEB;">
      <div class="container">
        <div class="col-3">LOGO</div>
        <ul class="nav justify-content-end">
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "マイページ", root_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "新規投稿", new_post_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          <% else %>
            <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
</header>